h1{
    background-color: rgba(239, 252, 194, 0.942);
    background-position: left;
    background-repeat: no-repeat ;
    background-position: left;
    background-size: 150px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 50px;
    margin-bottom: 1px;
    color: hwb(114 45% 39%);
    font-size: 5ch;
    text-align: left;
 }
 .dis{
    background-image: url(https://s1.1zoom.me/b5050/499/Many_Book_Library_468620_1600x1200.jpg);
    padding: 90px;
    padding-top: 10%;
    top: auto;
    border: 3px solid hsl(75, 76%, 85%);
    font-family:unset;
    font-size: 5ch;
    text-align: left;
    color: hsla(59, 93%, 49%, 0.907);  
 }
.search{
    font-size: 4ch;
    color: hwb(72 8% 60%);
}
.addbookform{
    color:  hwb(72 8% 60%);;
}
.input{
    font-size: 3ch;
    color: hsl(153, 86%, 25%);
}
.tab{
    color: rgb(3, 54, 37);
    font-size: 3ch;
}
.form-box{
    display: flex;
    justify-content:center;
    height: 30ch;
    margin-left: 0ch;
    width: 50ch;
    background-color: hsl(80, 15%, 55%);
    color: white;
}
 .inputbox{
    align-items: center;
    font-display:inherit;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
 }   
    
.quo{
    color: green;
}
.column{
    display: flex;
    flex-wrap: row wrap;
    justify-content: center;
    margin: 5px 0;
}
.para1{
    border: 1px solid #666;
    margin: 2px;
    margin-left: 10px;
    padding: 10px;
    background-color: bisque;
    width: 25ch;
    color: brown;
}
.para2{
    border: 1px solid #666;
    padding: 15px;
    margin: 2px;
    margin-left: 10px;
    width: 25ch;
    background-color: bisque;
    text-align: center;
    color: brown;
}
.para3{
    border: 1px solid #666;
    padding: 15px;
    margin: 2px;
    margin-left: 10px;
    margin-right: 90px ;
    width: 25ch;
    background-color: bisque;
    text-align: center;
    color: brown;

}
.ul{
    display: flex;
    padding: 5%;
    background-color: blanchedalmond;

}
.img{
    padding: 10ch;
    background-color: hwb(32 80% 4%);
    margin: 1ch;
    margin-left: 1.5ch;
    margin-right: 1.5ch;
}
.img1{
    padding: 10ch;
    background-color: blanchedalmond;
    margin: 1ch;
    margin-left: 2ch;
    margin-right: 2ch;

}
.book{
    background-color:rgb(231, 149, 43);
    padding: 2ch;
}
.container-fluid{
    display: flexbox;
    background-color:antiquewhite ;
padding: 5ch;
}

   

    